{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/detalhes_usuario.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <title>Detalhes do Usuário</title>
</head>
<body>

    <div class="back-link-container">
        <p><a class="back-link" href="{% url 'listagem_usuarios' %}">Voltar à lista de usuários</a></p>
    </div>

    <div class="container">
        <h1>Detalhes do Usuário</h1>
        <p><strong>Empresa:</strong> {{ usuario.empresa }}</p>
        <p><strong>CNPJ:</strong> {{ usuario.cnpj }}</p>
        <p><strong>Fale Conosco:</strong> {{ usuario.whatsapp }}</p>
        <p><strong>Seja Bem-vindo</strong></p>

        <p><strong>Descrição da Empresa:</strong></p>
    <p>{{ usuario.desc }}</p>
    </div>


    {% if usuario.logo %}
    <div class="img_usuario">
        <img src="{{ usuario.logo.url }}" alt="Logo da empresa" style="max-width: 200px;">
    
    {% else %}
    <p>Nenhuma imagem cadastrada.</p>
{% endif %}
</div>
</body>
</html>
