{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1><i>Seja Bem-Vindo!</i></h1>
        <i><p>Aplicativo informativo intencional em divulgar empresas prestadoras de servicos, suas qualidades servicos e localização</p></i>
        <a href="{% url 'cadastro' %}" class="button-cadastro">Cadastre-se</a>
        <a href="{% url 'listagem_usuarios' %}" class="button-lista">Veja a lista de empresas</a>
    </div>
    
    <footer>
        <p>&copy; 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
